.insurance-companies-container {
	display: flex;
	justify-content: flex-start;
	align-items: flex-start;
	flex-wrap: wrap;
}

.insurance-company {
	width: 30%;
	text-align: center;
}

.direct-billing {
	width: 100%;
}

.insurance-company img {
	border: 2px solid #cfcfcf;
	padding: 10px;
}

.direct-billing section .booknow {
	text-decoration: none !important;
	margin-top: 20px;
}

.ending-part {
	margin-bottom: 20px;
}

@media only screen and (max-width: 1280px){
	.direct-billing {
		width: 60%;
	}
	.insurance-company {
		width: 50%;
	}
}

.post-edit-link {
	display: none;
}

.booknow {
	text-decoration: none;
}

.booknow-no-float {
	float: none;
}

#footer .socialicons a {
	width: 40px;
    height: 40px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    background: #1993FC;
    border-radius: 50%;
}

#footer .socialicons a.facebook-icon {
	padding: 13px;
}

#footer .socialicons a > svg {
	width: 30px;
    height: 30px;
}

@media only screen and (max-width: 950px){
	.direct-billing {
		width: 100%;
	}
}

@media only screen and (max-width: 550px){
	.insurance-company {
		width: 80%;
	}
}