[class*="col-"] {
  float: left;
}

.col-1of3 {
  width: 33.33%;
}

.col-1of5 {
  width: 20%;
}

.col-1of2 {
  width: 50%;
}

.grid:after {
  content: "";
  display: table;
  clear: both;
}

*,
*:after,
*:before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.book-appointment-wrapper {
  display: flex;
  justify-content: center;
}
.book-appointment {
  background-color: #1993fc;
  border: 0 none;
  border-radius: 3px;
  border-bottom: 2px solid #1787e8;
  color: #fff !important;
  padding: 13px 20px;
  font-family: Muli;
  text-decoration: none !important;
}
.book-appointment:hover {
  background: #fff;
  color: #1993fc !important;
  cursor: pointer;
}

@media screen and (max-width: 870px) {
  .col-1of3 {
    width: 50%;
  }
  .col-1of5 {
    width: 33.33%;
  }
}

@media screen and (max-width: 570px) {
  .col-1of3 {
    width: 100%;
  }
  .col-1of5 {
    width: 50%;
  }
}

@media screen and (max-width: 500px) {
  .col-1of2 {
    width: 100%;
  }
}

@media screen and (max-width: 480px) {
  .col-1of5 {
    width: 100%;
  }
}
