/*
Theme Name: Esposito
Author: Longevity Graphics
Author URI: https://www.longevitygraphics.com
Version: 1.1
Template: twentyten
*/

/*@import url("../twentyten/style.css");*/
@import url(https://fonts.googleapis.com/css?family=Muli:400,300);

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
	background: transparent;
	border: 0;
	margin: 0;
	padding: 0;
	vertical-align: baseline;
}
body {
	line-height: 1;
	font-family: "Helvetica Neue", "Helvetica", "Arial", sans-serif;
}
h1, h2, h3, h4, h5, h6 {
	clear: both;
	font-weight: normal;
}
ol, ul {
	list-style: none;
}
blockquote {
	quotes: none;
}
blockquote:before, blockquote:after {
	content: '';
	content: none;
}
del {
	text-decoration: line-through;
}
/* tables still need 'cellspacing="0"' in the markup */
table {
	border-collapse: collapse;
	border-spacing: 0;
}
a img {
	border: none;
}

#navigation ul.menu-header {
	list-style: none !important;
	width: 100% !important;
	margin: 0 !important;
	padding: 0 !important;
}

#navigation ul.menu-header li {
	display: inline-block !important;
	float: left !important;
}

#navigation ul.menu-header li a {
	display: block !important;
	padding: 8px 42px 8px 42px !important;
	color: #fff !important;
}

/* =Layout
-------------------------------------------------------------- */

/*
LAYOUT: Two columns
DESCRIPTION: Two-column fixed layout with one sidebar right of content
*/

#container {
	float: left;
	margin: 0;
	width: 71%;
	padding-left: 3%;
}
#content {
	width: 100%;
	margin: 0;
}
#primary, #secondary {
    color: #666;
    float: right;
    font-size: 14px;
    overflow: hidden;
    width: 25%;
}
#secondary {
	clear: right;
}
#footer {
	clear: both;
	width: 100%;
}

/*
LAYOUT: One column, no sidebar
DESCRIPTION: One centered column with no sidebar
*/

.one-column #content {
	margin: 0 auto;
	width: 640px;
}

/*
LAYOUT: Full width, no sidebar
DESCRIPTION: Full width content with no sidebar; used for attachment pages
*/

.single-attachment #content {
	margin: 0 auto;
	width: 900px;
}

/* =Fonts
-------------------------------------------------------------- */
body,
input,
textarea,
.page-title span,
.pingback a.url {
	font-family: Arial, Helvetica, sans-serif;
	-webkit-hyphens: none;
  	-moz-hyphens: none;
  	-ms-hyphens: none;
  	hyphens: none;
}
h3#comments-title,
h3#reply-title,
#access .menu,
#access div.menu ul,
#cancel-comment-reply-link,
.form-allowed-tags,
#site-info,
#site-title,
#wp-calendar,
.comment-meta,
.comment-body tr th,
.comment-body thead th,
.entry-content label,
.entry-content tr th,
.entry-content thead th,
.entry-meta,
.entry-title,
.entry-utility,
#respond label,
.navigation,
.page-title,
.pingback p,
.reply,
.widget-title,
.wp-caption-text {
	font-family: "Helvetica Neue", Arial, Helvetica, "Nimbus Sans L", sans-serif;
}
input[type="submit"] {
	font-family: "Helvetica Neue", Arial, Helvetica, "Nimbus Sans L", sans-serif;
}
pre {
	font-family: "Courier 10 Pitch", Courier, monospace;
}
code {
	font-family: Monaco, Consolas, "Andale Mono", "DejaVu Sans Mono", monospace;
}

/* =Structure
-------------------------------------------------------------- */


/* The main theme structure */
div.menu,
#branding,
#wrapper {
	margin: 0 auto;
	width: 1240px;
}
#wrapper {
	background: #fff;
	/* margin-top: 20px; */
	padding: 0 20px;
	box-sizing: border-box;
}


/* Structure the footer area */
#footer-widget-area {
	overflow: hidden;
}
#footer-widget-area .widget-area {
	float: left;
	margin-right: 20px;
	width: 220px;
}
#footer-widget-area #fourth {
	margin-right: 0;
}
#site-info {
	float: left;
	font-size: 14px;
	font-weight: bold;
	width: 700px;
}
#site-generator {
	float: right;
	width: 220px;
}




/* =Global Elements
-------------------------------------------------------------- */


/* Main global 'theme' and typographic styles */
body {
	background: #f1f1f1; 
}
body,
table,
input,
textarea {
	color: #666;
	font-size: 12px;
	line-height: 18px;
}
hr {
	background-color: #e7e7e7;
	border: 0;
	clear: both;
	height: 1px;
	margin-bottom: 18px;
}


/* Text elements */
p {
	margin-bottom: 18px;
}
ul {
	list-style: square;
	margin: 0 0 18px 1.5em;
}
ol {
	list-style: decimal;
	margin: 0 0 18px 1.5em;
}
ol ol {
	list-style: upper-alpha;
}
ol ol ol {
	list-style: lower-roman;
}
ol ol ol ol {
	list-style: lower-alpha;
}
ul ul,
ol ol,
ul ol,
ol ul {
	margin-bottom: 0;
}
dl {
	margin: 0 0 24px 0;
}
dt {
	font-weight: bold;
}
dd {
	margin-bottom: 18px;
}
strong {
	font-weight: bold;
}
cite,
em,
i {
	font-style: italic;
}
big {
	font-size: 131.25%;
}
ins {
	background: #ffc;
	text-decoration: none;
}
blockquote {
	font-style: italic;
	padding: 0 3em;
}
blockquote cite,
blockquote em,
blockquote i {
	font-style: normal;
}
pre {
	background: #f7f7f7;
	color: #222;
	line-height: 18px;
	margin-bottom: 18px;
	overflow: auto;
	padding: 1.5em;
}
abbr,
acronym {
	border-bottom: 1px dotted #666;
	cursor: help;
}
sup,
sub {
	height: 0;
	line-height: 1;
	position: relative;
	vertical-align: baseline;
}
sup {
	bottom: 1ex;
}
sub {
	top: .5ex;
}
small {
	font-size: smaller;
}
input[type="text"],
input[type="password"],
input[type="email"],
input[type="url"],
input[type="number"],
textarea {
    border: 1px solid #e9e9e9;
    box-sizing: border-box;
    margin-bottom: 8px;
    max-width: 100%;
    padding: 5px 10px;
    width: 100%;
}


/* Text meant only for screen readers */
.screen-reader-text {
	position: absolute;
	left: -9000px;
}


/* =Menu
-------------------------------------------------------------- */


/* #access {
	display: block;
	float: left;
	margin: 0 auto;
	width: 100%;
        background: #1993FC;
}
#access .menu-header,
div.menu {
	font-size: 14px;
	font-weight: bold;
}
#access .menu-header ul,
div.menu ul {
	list-style: none;
	margin: 0;
}
#access .menu-header li, div.menu li {
    border-right: 1px solid transparent;
    float: left;
    position: relative;
}
#access li a {
color: #fff !important;
border-right: 1px solid #fff !important;
line-height: 42px !important;
}

#access li:last-child a{
    border-right: none !important;
}
#access ul ul {
	box-shadow: 0px 3px 3px rgba(0,0,0,0.2);
	-moz-box-shadow: 0px 3px 3px rgba(0,0,0,0.2);
	-webkit-box-shadow: 0px 3px 3px rgba(0,0,0,0.2);
	display: none;
	position: absolute;
	left: 0;
	float: left;
	width: 100px;
	z-index: 99999;
}
#access ul ul li {
	min-width: 180px;
}
#access ul ul ul {
	left: 100%;
	top: 0;
}
#access ul ul a {
	line-height: 1em;
	padding: 10px;
	width: 160px;
	height: auto;
}
#access li:hover > a,
#access ul ul :hover > a {
	background: #0090ff;
	opacity: 1;
	color: #FFF;

    -moz-transition: all .2s ease-in;
    -o-transition: all .2s ease-in;
    -webkit-transition: all .2s ease-in;
    transition: all .2s ease-in;
}
#access ul li:hover > ul {
	display: block;
}
#access ul li.current_page_item > a,
#access ul li.current_page_ancestor > a,
#access ul li.current-menu-ancestor > a,
#access ul li.current-menu-item > a,
#access ul li.current-menu-parent > a {
	color: #FFF;
}
* html #access ul li.current_page_item a,
* html #access ul li.current_page_ancestor a,
* html #access ul li.current-menu-ancestor a,
* html #access ul li.current-menu-item a,
* html #access ul li.current-menu-parent a,
* html #access ul li a:hover {
	color: #FFF;
} */

#access {
	clear: both;
}

#access ul.menu {
    -ms-flex-wrap:wrap;
    -webkit-flex-wrap:wrap;
    display:-ms-flexbox;
    display:-webkit-box;
    display:-webkit-flex;
    display:flex;
    flex-wrap:wrap;
    list-style:none;
    margin:0;
    padding:0;
    position:relative;
    width:100%;
}

#access ul.menu a {
    -ms-flex-align:center;
    -ms-flex-pack:center;
    -webkit-align-items:center;
    -webkit-box-align:center;
    -webkit-box-pack:center;
    -webkit-justify-content:center;
    align-items:center;
    color:#fff !important;
    display:-ms-flexbox;
    display:-webkit-box;
    display:-webkit-flex;
    display:flex;
    font-family:"HelveticaNeue","Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size:15px;
    font-weight:600;
    justify-content:center;
    line-height:50px;
    padding:0;
    text-decoration:none;
}

#access ul.menu li {
    -ms-flex:1 1 auto;
    -webkit-box-flex:1;
    -webkit-flex:1 1 auto;
    flex:1 1 auto;
    position:relative;
	border-left: 1px solid #fff;
}

#access ul.menu li:first-child {
	/*border-left: 0 !important;*/
}

#access ul.menu li.current-menu-item {
    background:#ddd;
}

#access ul.menu li:hover {
    background:#f6f6f6;
}

#access ul.menu ul {
    background:#fff;
    border:none;
    display:none;
	margin-left:0;
    left:0;
    padding:0;
    position:absolute;
    top:100%;
    width:auto;
}

#access ul.menu ul li {
    float:left;
    width:200px;
	list-style:none;
}

#access ul.menu ul a {
    -ms-flex-pack:start;
    -webkit-box-pack:start;
    -webkit-justify-content:flex-start;
    display:block;
    justify-content:flex-start;
    line-height:140%;
    padding:10px 15px;
}

#access ul.menu ul ul {
    left:100%;
    top:0;
}

#access ul.menu li:hover > ul {
    display:block;
}


/* =Content
-------------------------------------------------------------- */


#main {
	clear: both;
	overflow: hidden;
	padding: 40px 0 0 0;
}
#content {
	margin-bottom: 36px;
}
#content,
#content input,
#content textarea {
	color: #666;
	font-size: 14px;
	line-height: 1.5em;
}
#content p,
#content ul,
#content ol,
#content dd,
#content pre,
#content hr {
	margin-bottom: 18px;
}
#content ul ul,
#content ol ol,
#content ul ol,
#content ol ul {
	margin-bottom: 0;
}
#content pre,
#content kbd,
#content tt,
#content var {
	font-size: 15px;
	line-height: 21px;
}
#content code {
	font-size: 13px;
}
#content dt,
#content th {
	color: #000;
}
#content h1,
#content h2,
#content h3,
#content h4,
#content h5,
#content h6 {
	color: #000;
	line-height: 1.5em;
	margin: 0 0 20px 0;
	font-family: Muli;
}
#content table {
	border: 1px solid #e7e7e7;
	margin: 0 -1px 24px 0;
	text-align: left;
	width: 100%;
}
#content tr th, #content thead th {
    color: #333;
    font-size: 14px;
    font-weight: 500;
    line-height: 16px;
    padding: 5px 20px;
}
#content tr td {
	border-top: 1px solid #e7e7e7;
	padding: 6px 24px;
}
#content tr.odd td {
	background: #f2f7fc;
}
.hentry {
	margin: 0;
}
.home .sticky {
	background: #f2f7fc;
	border-top: 4px solid #000;
	margin-left: -20px;
	margin-right: -20px;
	padding: 18px 20px;
}
.single .hentry {
	margin: 0 0 36px 0;
}
.page-title {
	color: #000;
	font-size: 14px;
	font-weight: bold;
	margin: 0 0 36px 0;
}
.page-title span {
	color: #666;
	font-size: 16px;
	font-style: italic;
	font-weight: normal;
}
.page-title a:link,
.page-title a:visited {
	color: #777;
	text-decoration: none;
}
.page-title a:active,
.page-title a:hover {
	color: #ff4b33;
}
#content .entry-title {
	color: #000;
	font-size: 21px;
	font-weight: bold;
	line-height: 1.3em;
	margin-bottom: 0;
}
.entry-title a:link,
.entry-title a:visited {
	color: #000;
	text-decoration: none;
}
.entry-title a:active,
.entry-title a:hover {
	color: #ff4b33;
}
.entry-meta {
	color: #777;
	font-size: 12px;
}
.entry-meta abbr,
.entry-utility abbr {
	border: none;
}
.entry-meta abbr:hover,
.entry-utility abbr:hover {
	border-bottom: 1px dotted #666;
}
.entry-content,
.entry-summary {
	clear: both;
	padding: 0 0 0 0;
}
#content .entry-summary p:last-child {
	margin-bottom: 12px;
}
.entry-content fieldset {
	border: 1px solid #e7e7e7;
	margin: 0 0 24px 0;
	padding: 24px;
}
.entry-content fieldset legend {
	background: #fff;
	color: #000;
	font-weight: bold;
	padding: 0 24px;
}
.entry-content input {
	margin: 0 0 7px 0;
}
.entry-content input.file,
.entry-content input.button {
	margin-right: 24px;
}
.entry-content label {
	color: #777;
	font-size: 12px;
}
.entry-content select {
	margin: 0 0 24px 0;
}
.entry-content sup,
.entry-content sub {
	font-size: 10px;
}
.entry-content blockquote.left {
	float: left;
	margin-left: 0;
	margin-right: 24px;
	text-align: right;
	width: 33%;
}
.entry-content blockquote.right {
	float: right;
	margin-left: 24px;
	margin-right: 0;
	text-align: left;
	width: 33%;
}
.page-link {
	clear: both;
	color: #000;
	font-weight: bold;
	line-height: 48px;
	word-spacing: 0.5em;
}
.page-link a:link,
.page-link a:visited {
	background: #f1f1f1;
	color: #666;
	font-weight: normal;
	padding: 0.5em 0.75em;
	text-decoration: none;
}
.home .sticky .page-link a {
	background: #d9e8f7;
}
.page-link a:active,
.page-link a:hover {
	color: #ff4b33;
}
body.page .edit-link {
	clear: both;
	display: block;
}
#entry-author-info {
	background: #f2f7fc;
	border-top: 4px solid #000;
	clear: both;
	font-size: 14px;
	line-height: 20px;
	margin: 24px 0;
	overflow: hidden;
	padding: 18px 20px;
}
#entry-author-info #author-avatar {
	background: #fff;
	border: 1px solid #e7e7e7;
	float: left;
	height: 60px;
	margin: 0 -104px 0 0;
	padding: 11px;
}
#entry-author-info #author-description {
	float: left;
	margin: 0 0 0 104px;
}
#entry-author-info h2 {
	color: #000;
	font-size: 100%;
	font-weight: bold;
	margin-bottom: 0;
}
.entry-utility {
	clear: both;
	color: #777;
	font-size: 12px;
	line-height: 18px;
}
.entry-meta a,
.entry-utility a {
	color: #777;
}
.entry-meta a:hover,
.entry-utility a:hover {
	color: #ff4b33;
}
#content .video-player {
	padding: 0;
}




/* =Asides
-------------------------------------------------------------- */


.home #content .format-aside p,
.home #content .category-asides p {
	font-size: 14px;
	line-height: 20px;
	margin-bottom: 10px;
	margin-top: 0;
}
.home .hentry.format-aside,
.home .hentry.category-asides {
	padding: 0;
}
.home #content .format-aside .entry-content,
.home #content .category-asides .entry-content {
	padding-top: 0;
}




/* =Gallery listing
-------------------------------------------------------------- */


.format-gallery .size-thumbnail img,
.category-gallery .size-thumbnail img {
	border: 10px solid #f1f1f1;
	margin-bottom: 0;
}
.format-gallery .gallery-thumb,
.category-gallery .gallery-thumb {
	float: left;
	margin-right: 20px;
	margin-top: -4px;
}
.home #content .format-gallery .entry-utility,
.home #content .category-gallery .entry-utility {
	padding-top: 4px;
}




/* =Attachment pages
-------------------------------------------------------------- */


.attachment .entry-content .entry-caption {
	font-size: 140%;
	margin-top: 24px;
}
.attachment .entry-content .nav-previous a:before {
	content: '\2190\00a0';
}
.attachment .entry-content .nav-next a:after {
	content: '\00a0\2192';
}




/* =Images
-------------------------------------------------------------- */


/*
Resize images to fit the main content area.
- Applies only to images uploaded via WordPress by targeting size-* classes.
- Other images will be left alone. Use "size-auto" class to apply to other images.
*/
img.size-auto,
img.size-full,
img.size-large,
img.size-medium,
.attachment img,
.widget-container img {
	max-width: 100%; /* When images are too wide for containing element, force them to fit. */
	height: auto; /* Override height to match resized width for correct aspect ratio. */
}
.alignleft,
img.alignleft {
	display: inline;
	float: left;
	margin-right: 24px;
	margin-top: 4px;
}
.alignright,
img.alignright {
	display: inline;
	float: right;
	margin-left: 24px;
	margin-top: 4px;
}
.aligncenter,
img.aligncenter {
	clear: both;
	display: block;
	margin-left: auto;
	margin-right: auto;
}
.entry-content img.alignleft, .entry-content img.alignright, .entry-content img.aligncenter {
    border: 1px solid #d9d9d9;
    box-sizing: border-box;
    margin-bottom: 12px;
    padding: 5px;
}
.wp-caption {
	background: #f1f1f1;
	line-height: 18px;
	margin-bottom: 20px;
	max-width: 632px !important; /* prevent too-wide images from breaking layout */
	padding: 4px;
	text-align: center;
}
.wp-caption img {
	margin: 5px 5px 0;
	max-width: 622px; /* caption width - 10px */
}
.wp-caption p.wp-caption-text {
	color: #777;
	font-size: 12px;
	margin: 5px;
}
.wp-smiley {
	margin: 0;
}
.gallery {
	margin: 0 auto 18px;
}
.gallery .gallery-item {
	float: left;
	margin-top: 0;
	text-align: center;
	width: 33%;
}
.gallery-columns-2 .gallery-item {
	width: 50%;
}
.gallery-columns-4 .gallery-item {
	width: 25%;
}
.gallery img {
	border: 2px solid #cfcfcf;
}
.gallery-columns-2 .attachment-medium {
	max-width: 92%;
	height: auto;
}
.gallery-columns-4 .attachment-thumbnail {
	max-width: 84%;
	height: auto;
}
.gallery .gallery-caption {
	color: #777;
	font-size: 12px;
	margin: 0 0 12px;
}
.gallery dl {
	margin: 0;
}
.gallery img {
	border: 10px solid #f1f1f1;
}
.gallery br+br {
	display: none;
}
#content .attachment img {/* single attachment images should be centered */
	display: block;
	margin: 0 auto;
}




/* =Navigation
-------------------------------------------------------------- */


.navigation {
	color: #777;
	font-size: 12px;
	line-height: 18px;
	overflow: hidden;
}
.navigation a:link,
.navigation a:visited {
	color: #777;
	text-decoration: none;
}
.navigation a:active,
.navigation a:hover {
	color: #ff4b33;
}
.nav-previous {
	float: left;
	width: 50%;
}
.nav-next {
	float: right;
	text-align: right;
	width: 50%;
}
#nav-above {
	margin: 0 0 18px 0;
}
#nav-above {
	display: none;
}
.paged #nav-above,
.single #nav-above {
	display: block;
}




/* =Comments
-------------------------------------------------------------- */
#comments {
	clear: both;
}
#comments .navigation {
	padding: 0 0 18px 0;
}
h3#comments-title,
h3#reply-title {
	color: #000;
	font-size: 20px;
	font-weight: bold;
	margin-bottom: 0;
}
h3#comments-title {
	padding: 24px 0;
}
.commentlist {
	list-style: none;
	margin: 0;
}
.commentlist li.comment {
	border-bottom: 1px solid #e7e7e7;
	line-height: 24px;
	margin: 0 0 24px 0;
	padding: 0 0 0 56px;
	position: relative;
}
.commentlist li:last-child {
	border-bottom: none;
	margin-bottom: 0;
}
#comments .comment-body ul,
#comments .comment-body ol {
	margin-bottom: 18px;
}
#comments .comment-body p:last-child {
	margin-bottom: 6px;
}
#comments .comment-body blockquote p:last-child {
	margin-bottom: 24px;
}
.commentlist ol {
	list-style: decimal;
}
.commentlist .avatar {
	position: absolute;
	top: 4px;
	left: 0;
}
.comment-author {
}
.comment-author cite {
	color: #000;
	font-style: normal;
	font-weight: bold;
}
.comment-author .says {
	font-style: italic;
}
.comment-meta {
	font-size: 12px;
	margin: 0 0 18px 0;
}
.comment-meta a:link,
.comment-meta a:visited {
	color: #777;
	text-decoration: none;
}
.comment-meta a:active,
.comment-meta a:hover {
	color: #ff4b33;
}
.commentlist .even {
}
.commentlist .bypostauthor {
}
.reply {
	font-size: 12px;
	padding: 0 0 24px 0;
}
.reply a,
a.comment-edit-link {
	color: #777;
}
.reply a:hover,
a.comment-edit-link:hover {
	color: #ff4b33;
}
.commentlist .children {
	list-style: none;
	margin: 0;
}
.commentlist .children li {
	border: none;
	margin: 0;
}
.nopassword,
.nocomments {
	display: none;
}
#comments .pingback {
	border-bottom: 1px solid #e7e7e7;
	margin-bottom: 18px;
	padding-bottom: 18px;
}
.commentlist li.comment+li.pingback {
	margin-top: -6px;
}
#comments .pingback p {
	color: #777;
	display: block;
	font-size: 12px;
	line-height: 18px;
	margin: 0;
}
#comments .pingback .url {
	font-size: 13px;
	font-style: italic;
}


/* Comments form */
input[type="submit"] {
    background-color: #1993FC;
    border: 0 none;
    border-radius: 2px;
    box-shadow: 0 -2px 0 0 rgba(0, 0, 0, 0.08) inset;
    color: #fff !important;
    font-size: 13px;
    font-weight: 500;
    margin: 0 !important;
    padding: 7px 20px;
    text-transform: uppercase;
    width: 100%;
}
input[type="submit"]:hover{
    box-shadow: 0 4px 5px 0 rgba(0, 0, 0, 0.1) inset;
    cursor: pointer;
}
#respond {
	border-top: 1px solid #e7e7e7;
	margin: 24px 0;
	overflow: hidden;
	position: relative;
}
#respond p {
	margin: 0;
}
#respond .comment-notes {
	margin-bottom: 1em;
}
.form-allowed-tags {
	line-height: 1em;
}
.children #respond {
	margin: 0 48px 0 0;
}
h3#reply-title {
	margin: 18px 0;
}
#comments-list #respond {
	margin: 0 0 18px 0;
}
#comments-list ul #respond {
	margin: 0;
}
#cancel-comment-reply-link {
	font-size: 12px;
	font-weight: normal;
	line-height: 18px;
}
#respond .required {
	color: #ff4b33;
	font-weight: bold;
}
#respond label {
	color: #777;
	font-size: 12px;
}
#respond input {
	margin: 0 0 9px;
	width: 98%;
}
#respond textarea {
	width: 98%;
}
#respond .form-allowed-tags {
	color: #777;
	font-size: 12px;
	line-height: 18px;
}
#respond .form-allowed-tags code {
	font-size: 11px;
}
#respond .form-submit {
	margin: 12px 0;
}
#respond .form-submit input {
	font-size: 14px;
	width: auto;
}




/* =Widget Areas
-------------------------------------------------------------- */


.widget-area ul {
	list-style: none;
	margin-left: 0;
}
.widget-area ul ul {
	list-style: square;
	margin-left: 1.3em;
}
.widget-area select {
	max-width: 100%;
}
.widget_search #s {/* This keeps the search inputs in line */
	width: 60%;
}
.widget_search label {
	display: none;
}
.widget-container {
	margin: 0 0 18px 0;
}
.widget-container .wp-caption img {
	margin: auto;
}
.widget-title {
	color: #222;
	font-weight: bold;
}
.widget-area a:link,
.widget-area a:visited {
	text-decoration: none;
}
.widget-area a:active,
.widget-area a:hover {

}
.widget-area .entry-meta {
	font-size: 11px;
}
#wp_tag_cloud div {
	line-height: 1.6em;
}
#wp-calendar {
	width: 100%;
}
#wp-calendar caption {
	color: #222;
	font-size: 14px;
	font-weight: bold;
	padding-bottom: 4px;
	text-align: left;
}
#wp-calendar thead {
	font-size: 11px;
}
#wp-calendar thead th {
}
#wp-calendar tbody {
	color: #aaa;
}
#wp-calendar tbody td {
	background: #f5f5f5;
	border: 1px solid #fff;
	padding: 3px 0 2px;
	text-align: center;
}
#wp-calendar tbody .pad {
	background: none;
}
#wp-calendar tfoot #next {
	text-align: right;
}
.widget_rss a.rsswidget {
	color: #000;
}
.widget_rss a.rsswidget:hover {
	color: #ff4b33;
}
.widget_rss .widget-title img {
	width: 11px;
	height: 11px;
}


/* Main sidebars */
#main .widget-area ul {
	margin-left: 0;
	padding: 0 20px 0 0;
}
#main .widget-area ul ul {
	border: none;
	margin-left: 1.3em;
	padding: 0;
}
#primary {
}
#secondary {
}


/* Footer widget areas */
#footer-widget-area {
}




/* =Footer
-------------------------------------------------------------- */

#footer {
    background: #dedfe0 none repeat scroll 0 0;
    font-size: 14px;
    padding-bottom: 15px;
    padding-top: 20px;
}
#site-info {
	font-weight: bold;
}
#site-info a {
	color: #000;
	text-decoration: none;
}
#site-generator {
	font-style: italic;
	position: relative;
}
#site-generator a {
	background: url(images/wordpress.png) center left no-repeat;
	color: #666;
	display: inline-block;
	line-height: 16px;
	padding-left: 20px;
	text-decoration: none;
}
#site-generator a:hover {
	text-decoration: underline;
}
img#wpstats {
	display: block;
	margin: 0 auto 10px;
}

.footerContent .col-1of3 {
	font-size: 13px;
}

.footer-text1 {
	padding-left: 30px;
}

.footer-text3 {
	padding-right: 30px;
}


/* =Mobile Safari ( iPad, iPhone and iPod Touch )
-------------------------------------------------------------- */


pre {
	-webkit-text-size-adjust: 140%;
}
code {
	-webkit-text-size-adjust: 160%;
}
#access,
.entry-meta,
.entry-utility,
.navigation,
.widget-area {
	-webkit-text-size-adjust: 120%;
}
#site-description {
	-webkit-text-size-adjust: none;
}




/* =Print Style
-------------------------------------------------------------- */


@media print {
	body {
		background: none !important;
	}
	#wrapper {
		clear: both !important;
		display: block !important;
		float: none !important;
		position: relative !important;
	}
	#header {
		border-bottom: 2pt solid #000;
		padding-bottom: 18pt;
	}
	#site-title,
	#site-description {
		float: none;
		line-height: 1.4em;
		margin: 0;
		padding: 0;
	}
	#site-title {
		font-size: 13pt;
	}
	.entry-content {
		font-size: 14pt;
		line-height: 1.6em;
	}
	.entry-title {
		font-size: 21pt;
	}
	#access,
	#branding img,
	#respond,
	.comment-edit-link,
	.edit-link,
	.navigation,
	.page-link,
	.widget-area {
		display: none !important;
	}
	#container,
	#header,
	#footer {
		margin: 0;
		width: 100%;
	}
	#content,
	.one-column #content {
		margin: 24pt 0 0;
		width: 100%;
	}
	.wp-caption p {
		font-size: 11pt;
	}
	#site-info,
	#site-generator {
		float: none;
		width: auto;
	}
	img#wpstats {
		display: none;
	}
	#site-generator a {
		margin: 0;
		padding: 0;
	}
	#entry-author-info {
		border: 1px solid #e7e7e7;
	}
	#main {
		display: inline;
	}
	.home .sticky {
		border: none;
	}
}

.callUs{
	margin-top: 20px;
	margin-right: 20px;
	float: right;
	font-size: 24px;
	line-height: 30px;
	font-family: Muli;
}

.phoneIcon {
	margin-top: 20px;
	float: right;
}

.espositoLogo {
	float: left;
	margin-top: 15px;
	margin-left: 60px;
}

img.bannerImage {
	width: 100%; 
	height: auto;
	display: block;
	margin-lefT: auto;
	margin-right: auto; 
}

ul.homeList {
	list-style: none;
}

.homeListImage {
	padding-top:10px;
	padding-right: 10px;
}

#rectangle { 
	position: absolute;
	margin-left: -5%;
    	width: 260px; 
    	height: 30px; 
    	background: rgba(0, 144, 255, .2);
}

 #triangle { 
	position: absolute;
	margin-left: -5%;
	margin-top: 30px;
    	width: 0; 
   	height: 0; 
    	border-top: 15px solid #0090ff; 
    	border-left: 40px solid transparent; 
    	opacity: .4;
	clear: both;
}


#rectangleBookNow { 
    	right: 0;
	position: absolute;
	margin-top: -25px;
    	width: 260px; 
    	height: 30px; 
    	background: rgb(0, 144, 255);
	z-index: 9999;
}

 #triangleBookNow { 
	right: 0;
	position: absolute;
	margin-top: 5px;
    	width: 0; 
   	height: 0; 
    	border-top: 15px solid #0090ff; 
    	border-right: 40px solid transparent; 
    	opacity: .6;
	clear: both;
}

.informationTextBoxBook {
	color: #1992FB !important;
	position: relative;
	margin-left: 55px;
	font-size: 16px;
	font-family: Muli;
	line-height: 30px;
}


.informationTextBox {
	color: #1992FB !important;
	position: relative;
	margin-left: 55px;
	font-size: 16px;
	font-family: Muli;
	line-height: 30px;
}

.space {
	padding-bottom: 50px;
}


.locationTextIndentation {
	margin-left: 12%;
}

.footerContent {
    background: rgba(0, 0, 0, 0) none repeat scroll 0 0 !important;
    margin: 0 auto;
}

.footerImage {
    max-width: 50px;
    padding: 0 5px;
}
.socialicons{
    text-align: center;
}
.address {
    background: transparent url("https://espositomassage.com/wp-content/uploads/2015/06/location.png") no-repeat scroll left top / 25px 25px;
    float: right;
    padding-left: 30px;
}

.footerTextIndentation {
	margin-left: 7%;
}

.entry-meta, .entry-title, .entry-utility {
	display: none;
}

.archivePostTable {
	background: rgba(0, 144, 255, .1);
	font-weight: bold;
}

#primary {
	/*border: 1px solid #0090ff;*/
	padding-left: 20px;

}

#primaryTitle {
	color: #663300;
}


.aboutImage {
	float: left;
	height: auto;
	padding-right: 10px;
}

.giftCardParagraph {
	text-align: center;
	color: #1993FC;
}

.giftCardImage {
	margin-left: 35%;
	margin-right: 35%;
	width: 30%;
	height: auto; 
}



.blog .hentry {
    border-bottom: 1px solid #e7e7e7;
    margin: 0 0 20px;
    padding-bottom: 20px;
}

.widget_text {
    background: #CCE9FF none repeat scroll 0 0;
    margin-left: -20px;
    margin-right: -20px;
}

.widget-title {
    font-size: 20px;
    font-weight: normal;
    padding: 10px 20px;
    text-align: left;
    color: #1787E8 !important;
    line-height: 1.25em;
	font-family: Muli;
}

.textwidget {
    background: #CCE9FF none repeat scroll 0 0;
    padding: 0 20px 20px 20px;
	color: #1787E8;
}

.mailinglist-button {
	display: inline-block;
	margin: 0 auto;
	text-align: center;
	padding: 12px 19px;
	font-size: 16px;
	border-radius: 3px;
	background: #1993FC;
	color: #fff !important;
	font-family: Muli;
	margin: 2px 0 17px 0;
	border-bottom: 2px solid #1787E8;
}

.mailinglist-button:before {
	font-family: FontAwesome;
	content: "\f003";
	padding-right: 8px;
	font-weight: normal !important;
}

.mailinglist-button:hover {
	background: #fff;
	color: #1993FC !important;
}

.bookNow {
	color: white;
	font-size: 24px;
	margin-top: 5px;
	position: absolute;
	margin-left: 20%;
	font-family: Muli;
}

.hvr-grow {
    display: inline-block;
    vertical-align: middle;
    transform: translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    backface-visibility: hidden;
    -moz-osx-font-smoothing: grayscale;
    transition-duration: 0.3s;
    transition-property: transform;
}

.hvr-grow:hover,
.hvr-grow:focus,
.hvr-grow:active {
    transform: scale(1.3);
}

.widgetImageEmail {
	margin-left: 25%; 
	margin-right: 15%;
}

.contactIcons {
	float:left; 
	padding-right: 10px;
	width: 7%;
	height: auto;
}

.joinMailList {
 	width: 100%; 
	height: auto;
}

a:link, a:visited {
	color: #1993FC;
	text-decoration: none;
}
#main a{
    text-decoration: underline;
}
#main #primary a{
	text-decoration: none;
}
a:active, a:hover {
	color: #0384ce;
	text-decoration: none;
}

/* .huge_it_slideshow_image_container_1 {
	border-top: 4px solid #3d1017;
} */

.alignCenter {
	text-align: center;
}

.highlighter {
	background-color: #CCE9FF;
		padding: 3px;
}

.required {
	color: red;
}

#content h1{
	color: #663300;
	line-height: 34px;
}

.treatmentSteps {
	float: left;
	margin-left: -6px;
	padding-right: 10px;
}

.aboriginalLogo {
	width: 40%;
	height: auto;
	margin-left: 20%;
	margin-right: 20%;
}

.seniorsLogo {
	width: 90%; 
	height: auto;
	margin-left: 5%;
	margin-right: 5%;
}

.relayForLifeLogo{
	width: 40%; 
	height: auto;
	margin-left: 30%;
	margin-right: 30%;
}

.pushForChange {
	width: 85%; 
	height: auto;
	margin-left: 5%;
	margin-right: 5%;
	vertical-align: -55px;
}

.likeUsOnFB {
	width: 75%; 
	height: auto;
	margin-left: 5%;
	margin-right: 5%;
	vertical-align: -55px;
}

/**********************************RESPONSIVE STYLES**********************************/

#wrapper,
div.menu,
#branding,
#header {
  width: 1240px;
  background: white;
}
#headwrap{
  width: 100%;
  margin: 0 auto;

}
#header{
  margin: 0 auto;

}
.blog .mainBody, .single .mainBody, .blog #content, .single #content {
    width: 100%;
}

@media screen and (min-width: 1280px) { /* Full screen only */


}

@media screen and (max-width: 1280px) { /* Layout breaking point */
  #wrapper, #header{
    width: 94% !important;
  }
  /* #access a {
    padding: 10px 39px 5px;
  } */
  div.menu,
  #branding,
  #main,
  #footer {
    margin: 0 auto;
    width: 100%;
  }
  
  /*
  LAYOUT: Two columns
  DESCRIPTION: Responsive.
  940 = 720 + 220
  100% = 76.5957447% + 23.40425535% 
  */
  
  #container {
    float: left;
    margin: 0 -25.5319149% 0 0;
    width: 99%;
  }
  #content {
    width: 100%;
    margin: 0 0 0 0px;
  }
  #primary,
  #secondary {
    overflow: hidden;
    width: 23.40425535% /* 200px / 940px */ 
    padding-left: 0 !important;
  }
  
  #footer-widget-area .widget-area,
  #site-generator,
  #site-description  {
    width: 23.40425535% /* 200px / 940px */ 
  }
	#triangle{
  		margin-left: -95px;
	}
	#rectangle{
  		margin-left: -95px;
	}
#rectangleBookNow { 
    	right: 30px;
	position: absolute;
	margin-top: -25px;
    	width: 260px; 
    	height: 30px; 
    	background: rgb(0, 144, 255);
	z-index: 9999;
}

 #triangleBookNow { 
	right: 0;
	position: absolute;
	margin-top: 5px;
    	width: 0; 
   	height: 0; 
    	border-top: 15px solid #0090ff; 
    	border-right: 40px solid transparent; 
    	opacity: .6;
	clear: both;
}
.mainBody {
	width: 70%;
}
.blog #content, .single #content{
    width: 70%;
}
}


@media screen and (max-width: 1220px) {
}

@media screen and (max-width: 1200px) {
	#triangle{
  		margin-left: -90px;
	}

	#rectangle{
  		margin-left: -90px;
	}
}

@media screen and (max-width: 1150px) {
	.pushForChange {
		width: 90%; 
		height: auto;
		margin-left: 5%;
		margin-right: 5%;
		vertical-align: -35px;
	}

	.likeUsOnFB {
		width: 90%; 
		height: auto;
		margin-left: 5%;
		margin-right: 5%;
		vertical-align: -35px;
	}
}

@media screen and (max-width: 1090px) {
}
@media screen and (max-width: 1065px) {
	#primary{
		width: 240px;
	}
.footerImage{
	vertical-align: -20px;
	padding-left: 5%;
	padding-right: 5%;
}
}

@media screen and (max-width: 1050px) {
	#triangle{
  		margin-left: -86px;
	}
	#rectangle{
  		margin-left: -86px;
	}
}
@media screen and (max-width: 1025px) {
	#primary {
		width: 230px;
	}
  /* #access a {
    padding: 10px 24px 5px !important;
  } */
.footerImage {
    max-width: 80px;
}
}

@media screen and (max-width: 982px) {
	#primary {
		width: 220px;
	}
  /* access a {
    padding: 10px 21px 5px !important;
  } */
.espositoLogo {
    margin-left: 0;
}
}

@media screen and (max-width: 970px) {
	/* #access .menu-header li, div.menu li {
		float: left;
		position: relative;
		padding-right: 0;
  		padding-left: 0;
	}*/
}
@media screen and (max-width: 950px) {
	#primary {
		float: left;
		width: 100%;
	}
.mainBody {
	width: 100%;
}
.widgetImageEmail {
	margin-left: 40%; 
	margin-right: 15%;
}
}


@media screen and (max-width: 940px) {


  #container {
    margin: 0 -32.5319149% 0 0;
  }
  #content {
    width: 100%;
  }

}
@media screen and (max-width: 915px) {
	#access ul.menu li a {
		font-size: 13px !important;
	}
}
@media screen and (max-width: 870px) {
	.pushForChange {
		width: 90%; 
		height: auto;
		margin-left: 5%;
		margin-right: 5%;
		vertical-align: -55px;
	}

	.likeUsOnFB {
		width: 90%; 
		height: auto;
		margin-left: 5%;
		margin-right: 5%;
		vertical-align: 0;
	}
}

@media screen and (max-width: 850px) {
	#primary {
		margin-top: 0;
	}
	.pushForChange {
		width: 90%; 
		height: auto;
		margin-left: 5%;
		margin-right: 5%;
		vertical-align: -30px;
	}

	.likeUsOnFB {
		width: 90%; 
		height: auto;
		margin-left: 5%;
		margin-right: 5%;
		vertical-align: 0;
	}
}
@media screen and (max-width: 830px) {
	.mainBody {
		width: 100%;
	}
	#rectangleBookNow { 
  		right: 10;
		position: absolute;
  		width: 150px; 
 		height: 40px; 
  		background: #0090FF; 
	} 
	.bookNow {
		font-size: 16px;
		margin-top: 3px;
		margin-left: 17%;
		font-weight: bold;
	}
	 #triangleBookNow {
    		display: none;
		margin-right: 0px;
		margin-bottom: 0px;
    		float: right;
    		width: 0; 
    		height: 0; 
   		border-top: 0px solid transparent; 
    		border-left: 0px solid #0090FF; 
    		border-bottom: 0px solid transparent; 
	} 

	.bookNow {
		padding-top: 10px; 
		text-align: center; 
		color: white;
	}
}
@media screen and (max-width: 840px) {
	#access .menu-header, div.menu {
		font-size: 12px;
	}
}
@media screen and (max-width: 797px) {
  /* #access a {
    padding: 10px 15px 5px;
  } */
.espositoLogo {
    display: block;
    float: none;
    margin: 0 auto;
    text-align: center;
}
.phone {
    float: left !important;
}
#footer .col-1of3 {
    text-align: center;
    width: 100% !important;
}
.address{
    background: none;
    float: none;
}
.footerImage {
    margin-top: 15px;
    max-width: 100px;
    padding-left: 10px;
    padding-right: 10px;
}
.blog #content, .single #content{
    width: 100%;
}
}


@media screen and (max-width: 768px) {
#wrapper, #header {
    width: 100% !important;
}
#content, #primary, #secondary {
    margin: 0;
    width: 100%;
}
}

.scroll-back-to-top-wrapper{
    background-color: transparent !important;
}
@media only screen and (min-width:768px){
  .scroll-back-to-top-wrapper{
    display: none;
  }
}



@media screen and (max-width: 603px) {
	.aboutImage {
		float: left;
		width: 30%;
		height: auto;
		padding-right: 10px;
	}
}
@media screen and (max-width: 568px) {
	.aboutImage {
		float: left;
		width: 40%;
		height: auto;
		padding-right: 10px;
	}
#post-4 .col-1of5{
    width: 100%;
}
#post-4 .col-1of5 img {
    display: block;
    height: auto;
    margin: 0 auto 20px;
    max-height: 100px;
    max-width: 200px;
    width: auto;
}
}
@media screen and (max-width: 521px) {
.widgetImageEmail {
	margin-left: 30%; 
	margin-right: 15%;
}
.contactIcons {
	width: 10%;
	height: auto;
}
}
@media screen and (max-width: 520px) {
	 #triangle { 
		position: absolute;
		margin-left: -5%;
		margin-top: 30px;
    		width: 0; 
   		height: 0; 
    		border-top: 10px solid #0090ff; 
    		border-left: 15px solid transparent; 
   	 	opacity: .4;
		clear: both;
	}
	.espositoLogo {
		float: left;
		width: 100%;
		margin: 0 auto;
	}
	.giftCardImage {
		margin-left: 20%;
		margin-right: 20%;
		width: 60%;
		height: auto; 
	}
	.espositoLogo {
  		float: left;
  		width: 100%;
  		margin: 0 auto;
	}
.home #header #click-menu {
    top: 0px !important;
}
#header #click-menu {
    top: 170px !important;
}
}
@media screen and (max-width: 500px) {
	
.phone .callUs{
	margin-top: 20px;
	float: right;
	font-size: 20px !important;
	line-height: 1.33em !important;
	margin-right: 0;
}

}
@media screen and (max-width: 424px) { /* Book Online breaking point */

.phone {
	width: 200px !important;
	margin: 10px auto !important;
	display: block !important;
	float: none !important;
	overflow: auto;
	clear: both;
}

.booknow {
    display: inline-block !important;
    float: none !important;
    margin-bottom: 20px;
    margin-left: auto !important;
    margin-right: auto !important;
    margin-top: 0 !important;
    text-align: center;
    width: 100%;
-webkit-border-radius: 0px !important;
-moz-border-radius: 0px !important;
border-radius: 0px !important;
}
	
}
@media screen and (max-width: 414px) {

#header #click-menu {
    top: 5px !important;
}
.alignright, img.alignright {
    display: block;
    float: none;
    margin: 0 auto;
    width: 100%;
}
.wp-pagenavi a.page, span.extend, a.last {
    display: none;
}
}

@-webkit-keyframes hvr-wobble-horizontal {
  16.65% {
    -webkit-transform: translateX(8px);
    transform: translateX(8px);
  }

  33.3% {
    -webkit-transform: translateX(-6px);
    transform: translateX(-6px);
  }

  49.95% {
    -webkit-transform: translateX(4px);
    transform: translateX(4px);
  }

  66.6% {
    -webkit-transform: translateX(-2px);
    transform: translateX(-2px);
  }

  83.25% {
    -webkit-transform: translateX(1px);
    transform: translateX(1px);
  }

  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
}

@keyframes hvr-wobble-horizontal {
  16.65% {
    -webkit-transform: translateX(8px);
    transform: translateX(8px);
  }

  33.3% {
    -webkit-transform: translateX(-6px);
    transform: translateX(-6px);
  }

  49.95% {
    -webkit-transform: translateX(4px);
    transform: translateX(4px);
  }

  66.6% {
    -webkit-transform: translateX(-2px);
    transform: translateX(-2px);
  }

  83.25% {
    -webkit-transform: translateX(1px);
    transform: translateX(1px);
  }

  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
}

.hvr-wobble-horizontal {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
}
.hvr-wobble-horizontal:hover, .hvr-wobble-horizontal:focus, .hvr-wobble-horizontal:active {
  -webkit-animation-name: hvr-wobble-horizontal;
  animation-name: hvr-wobble-horizontal;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-timing-function: ease-in-out;
  animation-timing-function: ease-in-out;
  -webkit-animation-iteration-count: 1;
  animation-iteration-count: 1;
}












.huge_it_slideshow_dots_thumbnails_1{
    display: none !important;
}
.phone {
    float: right;
}
.booknow {
    background-color: #1993fc;
    border: 0 none;
    border-radius: 3px;
    border-bottom: 2px solid #1787E8;
    color: #fff !important;
    float: right;
    font-size: 18px;
    margin-bottom: 0 !important;
    margin-left: 0 !important;
    margin-right: 35px;
    margin-top: 26px;
    padding: 13px 20px;
    text-transform: uppercase;
	font-family: Muli;
}
.booknow:hover{
	background: #fff;
	color: #1993FC !important;
    cursor: pointer;
}
#mlist {
    background: transparent url("./images/maillist.png") no-repeat scroll 0 0;
    color: #0062cf;
    display: block;
    font-size: 20px;
    font-weight: 600;
    line-height: 26px;
    padding-left: 65px;
    text-align: left;
}
.hvr-grow-rotate {
    -moz-osx-font-smoothing: grayscale;
    backface-visibility: hidden;
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    display: inline-block;
    transform: translateZ(0px);
    transition-duration: 0.3s;
    transition-property: transform;
    vertical-align: middle;
}
.hvr-grow-rotate:hover, .hvr-grow-rotate:focus, .hvr-grow-rotate:active {
    transform: scale(1.1) rotate(4deg);
}
span.wpcf7-not-valid-tip {
    display: none !important;
}
.wpcf7-not-valid {
    border: 1px solid red !important;
}
div.wpcf7-validation-errors {
    border: medium none !important;
    color: red;
    margin: 0 !important;
    text-align: center;
}
div.wpcf7-mail-sent-ok {
    border: medium none !important;
    color: #8dc63f;
    margin: 0 !important;
    text-align: center;
}
.textwidget ul li{
    list-style: circle;
}
#text-2 .textwidget{
    display: none;
}
.hvr-shutter-out-vertical a{
    -moz-osx-font-smoothing: grayscale;
    backface-visibility: hidden;
    background: #1993FC none repeat scroll 0 0;
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    display: inline-block;
    position: relative;
    transform: translateZ(0px);
    transition-duration: 0.3s;
    transition-property: color;
    vertical-align: middle;
}
.hvr-shutter-out-vertical a::before {
    background: #1787e8 none repeat scroll 0 0;
    bottom: 0;
    content: "";
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    transform: scaleY(0);
    transform-origin: 50% 50% 0;
    transition-duration: 0.3s;
    transition-property: transform;
    transition-timing-function: ease-out;
    z-index: -1;
}
.hvr-shutter-out-vertical a:hover, .hvr-shutter-out-vertical a:focus, .hvr-shutter-out-vertical a:active {
    color: white;
}
.hvr-shutter-out-vertical a:hover::before, .hvr-shutter-out-vertical a:focus::before, .hvr-shutter-out-vertical a:active::before {
    transform: scaleY(1);
}
.home #click-menu {
    position: relative !important;
    right: 0 !important;
    top: 0 !important;
    z-index: 999 !important;
}
#click-menu {
    position: relative !important;
    right: 0 !important;
    top: 90px !important;
    z-index: 999 !important;
}
.phone {
    background: transparent url("https://www.espositomassage.com/wp-content/uploads/2015/07/phone_icon.png") no-repeat scroll left center / 55px 60px;
    padding-left: 55px;
}
.phone a{
    color: #666;
}
.wp-pagenavi{
    margin-bottom: 20px;
}
#bar {
    background: #c4c5c6 none repeat scroll 0 0;
    color: #000;
    font-size: 14px;
    padding: 10px 0;
    text-align: center;
    text-transform: uppercase;
}

.insurance-companies-container {
	display: flex;
	justify-content: space-around;
}