/*
Theme Name: Child Two
Theme URI: https://wordpress.org/
Description: Test Responsive child theme.
Author: the WordPress team
Version: 1.0
Template: twentyten
Tags: black, blue, white, two-columns, fixed-width, custom-header, custom-background, theme-options, threaded-comments, sticky-post, translation-ready, microformats, rtl-language-support, editor-style
*/

@import url("../twentyten/style.css");

#wrapper {
    margin: 0 auto;
    width: 95%;
}

#access,
#access .menu-header,
div.menu,
#colophon,
#branding,
#main,
#footer {
    margin: 0 auto;
    width: 100%;
}

#branding {
    overflow: hidden;
}

#access {
    max-width: 940px;
}

/*
LAYOUT: Two columns
DESCRIPTION: Responsive.
940 = 720 + 220
100% = 76.5957447% + 23.40425535% 
*/

#container {
    float: left;
    margin: 0 -25.5319149% 0 0;
    width: 99 %;
}
#content {
    margin: 0 0 0 20px;
}
#primary,
#secondary {
    overflow: hidden;
    /*width: 220px;*/
    width: 23.40425535%; /* 200px / 940px */
}

#site-title,
#site-info {
    width: 74.4680851%; /* 700px / 940px */
}

#footer-widget-area .widget-area,
#site-generator,
#site-description {
    width: 23.40425535%; /* 200px / 940px */
}

@media screen and (max-width: 660px) {
    #primary,
    #secondary {
        float: left;
        overflow: hidden;
        width: 100%;
        border: 1px solid;
    }
    #secondary {
        clear: left;
    }
}

@media screen and (max-width: 800px) {
    #wrapper,
    #access,
    #access .menu-header,
    div.menu,
    #colophon,
    #branding,
    #main,
    #footer {
        width: 940px;
    }
}
